.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 30rem;
  margin: 3rem auto;
  max-width: 75rem;
  // background-color: goldenrod;

  .there {
    gap: 2rem;
    background-color: chartreuse;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 10rem;
    margin-bottom: 4rem;

    img {
      width: 1rem;
    }
    button {
      background-color: rgb(220, 220, 131);
      padding: 0.3rem;
      width: 6rem;
      border: none;
    }
    p {
      color: red;
      margin: 0.5rem 0rem;
    }
  }
}
