@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    .orderstatus {
      margin: 2rem 0rem;
    }
  }
  .searchbar {
    .border-bottom {
      width: 20rem;
    }
  }
}
