.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 6rem;
  position: relative;
  top: -1rem;
  left: -2rem;
  input {
    margin-top: 2rem;
    border: none;
  }
  button {
    border: none;
    color: red;
    font-size: 1.3rem;
    background-color: white;
  }
  .border-bottom {
    height: 2px;
    width: 15.5rem;
    background-color: gray;
    margin-top: 0.2rem;
  }
}
